---
name: PR Build

on:
  workflow_call:
    inputs:
      flavor:
        description: "Set the base image [base, slim or alpine]"
        default: "base"
        required: false
        type: string
      version:
        description: "EteBase Version"
        required: false
        type: string

jobs:
  pr-check-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Dockerfiles and Context
        uses: actions/checkout@v3

      - id: server_version
        uses: ./.github/actions/get-server-version
        with:
          force: ${{ inputs.version }}

      - id: buildx
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2.2.1

      - id: docker_pr_build
        name: PR Build
        uses: docker/build-push-action@v3.2.0
        with:
          builder: ${{ steps.buildx.outputs.name }}
          context: .
          file: ./tags/${{ inputs.flavor }}/Dockerfile
          tags: victorrds/etebase:${{ github.sha }}-${{ inputs.flavor }}
          build-args: ETE_VERSION=${{ steps.server_version.outputs.version }}
          push: false