---
name: Test Pull Request of a new Etesync Server Version

on:
  pull_request:
    branches:
      - master
    paths:
      - "server_version"

jobs:
  pr-new-version:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Dockerfiles and Context
        uses: actions/checkout@v2
        with:
          ref: ${{ github.event.inputs.ref }}

      - id: server_version
        uses: ./.github/actions/get-server-version

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1.6.0

      - id: dckr_pr_build_base
        if: always()
        name: PR Build Base Tag
        uses: docker/build-push-action@v2.9.0
        with:
          builder: ${{ steps.buildx.outputs.name }}
          context: .
          file: ./tags/base/Dockerfile
          tags: victorrds/etebase:${{ github.sha }}-base
          push: false
          build-args: ETE_VERSION=${{ steps.server_version.outputs.version }}

      - id: dckr_pr_build_slim
        if: always()
        name: PR Build Slim Tag
        uses: docker/build-push-action@v2.9.0
        with:
          builder: ${{ steps.buildx.outputs.name }}
          context: .
          file: ./tags/slim/Dockerfile
          tags: victorrds/etebase:${{ github.sha }}-slim
          push: false
          build-args: ETE_VERSION=${{ steps.server_version.outputs.version }}

      - id: dckr_pr_build_alpine
        if: always()
        name: PR Build Alpine Tag
        uses: docker/build-push-action@v2.9.0
        with:
          builder: ${{ steps.buildx.outputs.name }}
          context: .
          file: ./tags/alpine/Dockerfile
          tags: victorrds/etebase:${{ github.sha }}-alpine
          push: false
          build-args: ETE_VERSION=${{ steps.server_version.outputs.version }}
